/* 基本は main.css */

/* ======================================== */
/* header */
/* ======================================== */

.hla header {
    background-color: navy;
}

.hla header a {
    color: yellow;
}
.hla header a:hover {
    color: lightpink;
}
.hla header a.nav_here {
    color: lightcyan;
}

.hla header p {
    color: yellow;
}

.hla header .index-arrow::before {
    border-left: 1px solid yellow;
    content: "---";
    margin-left : 13px;
}
@media screen and (min-width: 640px){
    .hla header .index-arrow::before {
        content: "---\03e";
        margin-left : 15px;
    }
}


.hla header .sub-index {
    color: lime;
}
.hla header span.sub-index::before {
    content: "--\03e";
}

/* ======================================== */
/* main */
/* ======================================== */

.hla h2.section {
    background-color: navy;
    color: lightpink;
}

.hla h3.sub-section {
    background: linear-gradient(to right, ghostwhite, lavender);
    border: 1px solid navy;
    border-left: 10px solid navy;
}

.hla strong.red-text {
    color: red;
}
.hla strong.blue-text {
    color: blue;
}

.hla .magenta-line {
    background: linear-gradient(transparent 50%, hotpink 50%);
}
.hla .yellow-line {
    background: linear-gradient(transparent 50%, yellow 50%);
}
.hla .green-line {
    background: linear-gradient(transparent 50%, lime 50%);
}

.hla table#rireki {
    border: 3px solid navy;
    border-collapse: collapse;
    margin: 0px 10px 0px 10px;
    table-layout: fixed;
    width: 700px;
}
.hla table#rireki td {
    border: 1px solid navy;
    padding: 0px 10px 0px 10px;
}
.hla table#rireki th {
    background-color: ghostwhite;
    font-weight: normal;
    text-align: center;
    width: 120px;
}

@media screen and (min-width: 640px){

    .hla p.textbox {
        margin-right: 100px;
    }

    .hla ul {
        margin: 20px 100px 20px 20px;
    }

}

/* ======================================== */
/* スマホ用 */
/* ======================================== */

@media screen and (max-width: 640px){

    .hla table#rireki {
        margin: 0px 5px 0px 5px;
        width: 320px;
    }

    .hla header .sub-index {
        display: none;
    }
}
