body.reveal-viewport {
    background: whitesmoke;
}

.slides h2, p, li, dl, table, figcaption, summary, .fig-text, .detail {
    color: #222222;
    font-family: "Verdana", "Roboto", "YuGothic", "Yu Gothic", sans-serif;
    font-weight: 500;
}

.reveal *::selection {
    background: transparent;
    color: currentColor;
}
.slides h2::selection, .slides p::selection, .slides li::selection,
.slides dt::selection, .slides dd::selection, .slides td::selection,
.slides a::selection, .slides figcaption::selection,
.slides b::selection, .slides i::selection, .slides strong::selection,
.slides span::selection, .detail::selection {
    background: deepskyblue;
    color: currentColor;
}

.slides mjx-container {
    font-size: 100% !important;
    pointer-events: none;
}

.slides h2 {
    color: black;
    font-size: 2.0rem;
    font-weight: bold;
    margin: 30px 10px 15px 10px;
}
h2 .MathJax {
    font-size: 1.9rem;
}
h2.large, p.large {
    font-size: 3.0rem;
    font-weight: bold;
}
h2.large .MathJax, p.large .MathJax {
    font-size: 2.9rem;
}
.semi-large {
    font-size: 2.0rem;
    font-weight: bold;
}
.semi-large .MathJax {
    font-size: 1.9rem;
}

p, .detail, h2.small {
    font-size: 1.3rem;
    margin: 10px;
    font-weight: normal;
}
li {
    font-size: 1.3rem;
}
li ~ li, li li {
    margin-top: 10px;
}

dl, table {
    border: 0px none;
    font-size: 1.3rem;
}

tr, td {
    border-top: solid 2px #222222;
    border-bottom: solid 2px #222222;
}

p .MathJax, .detail .MathJax, li .MathJax, dl .MathJax, table .MathJax {
    font-size: 1.2rem;
    font-weight: normal;
}
.small, .slides figcaption {
    font-size: 1.0rem;
}
.small .MathJax, .slides figcaption .MathJax {
    font-size: 0.9rem;
}

.slides figure, .slides img {
    margin: 1%;
}

section.summary h2, section.summary p, section.summary li, section.summary dl {
    color: white;
}
section.summary h2.huge, section.summary p.huge {
    color: yellow;
    font-size: 7.0rem;
}

strong.alert {
    color: orangered;
}
strong.important {
    background: linear-gradient(transparent 50%, chartreuse 40%);
    font-weight: bold;
}
section.summary strong.important {
    background: transparent;
    color: chartreuse;
}
.note {
    color: blue;
}

.slides a {
    color: currentColor;
    text-decoration: underline;
}
.slides a:hover {
    color: magenta;
}

.math-box {
    background: thistle;
    padding: 10px;
    margin: 5px auto;
}
.math-box_small {
    background: thistle;
    margin: 5px auto;
    padding: 1px;
}
section.summary .math-box {
    background: transparent;
    border: 1px solid white;
    margin: 5px auto;
    padding: 10px;
}

.half-box {
    display: flex;
    justify-content: center;
}
li ul, li ol, dd ul, .half-box ul:not(.qanda) {
    padding: 0;
}
figcaption {
    font-size: 1.3rem;
    text-align: center;
}
figcaption .MathJax {
    font-size: 1.2rem;
}
.focus-fig {
    border: lightgray solid 10px;
}

.detail {
    display: inline-block;
    margin: 0;
    position: relative;
}
.detail-wrapper {
    display: inline;
    margin: 0;
}
.detail i.detail-icon {
    color: indigo;
    padding: 0 5px;
}
.detail .detail-box {
    background-color: indigo;
    border: indigo 1px solid;
    border-radius: 10px;
    display: none;
    left: 0;
    position: absolute;
    width: auto;
    z-index: 1;
}
.detail .bottom {
    top: 110%;
}
.detail .top {
    bottom: 100%;
}
.detail i.detail-icon:hover ~ .detail-box {
    display: block;
}
.detail .detail-box p {
    color: lavender;
    font-size: 0.9rem;
    margin: 0;
    padding: 5px 10px;
    text-align: left;
    white-space: nowrap;
}
.detail .detail-box p .MathJax {
    font-size: 0.8rem;
}

ul.qanda {
    list-style: none;
    position: relative;
}
ul.qanda li::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    left: 0;
    position: absolute;
}
ul.qanda li.question::before {
    content: "\51.";
    color: blue;
}
.summary ul.qanda li.question::before {
    content: "\51.";
    color: dodgerblue;
}
ul.qanda li.answer::before {
    content: "\41.";
    color: red;
}

hr {
    border: 3px dashed lightsteelblue;
    margin: 40px -100px 20px -20px;
}

/* ======================================== */
/* slide-number */
/* ======================================== */

.reveal .slide-number, #presentation_title h1, #presentation_date p,
#nav_slide p, #presentation_speaker address, #poweredby p {
    color: white;
    font-family: "Verdana", "Roboto", "YuGothic", "Yu Gothic", sans-serif;
}

.reveal .slide-number {
    font-size: 18px;
    right: 1%;
}
.reveal .slide-number-delimiter {
    margin: 0 -3px;
}
.reveal .slide-number a:hover {
    color: currentColor;
    cursor: default;
}

.top-slide .reveal .slide-number {
    display: none !important;
}

/* ======================================== */
/* controls & progress */
/* ======================================== */

.reveal .controls {
    bottom: 79%;
    color: orangered !important;
    right: 1%;
}

.reveal .progress {
    color: darkorange;
}

/* ======================================== */
/* header */
/* ======================================== */

#info_header {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#presentation_title {
    background-color: #404040;
    width: 50%;
}
#presentation_date {
    background-color: #707070;
    left: 50%;
    width: 50%;
}
#presentation_title h1, #presentation_date p {
    font-size: 1.3rem;
    margin: 0;
    padding: 12px 20px 8px 20px;
}
#presentation_title a, #presentation_date a {
    color: currentColor;
    text-decoration: underline;
    z-index: 1;
}

/* ======================================== */
/* nav */
/* ======================================== */

#nav_slide {
    background: linear-gradient(to right, navy 60%, lavender);
    display: block;
    width: 100%;
}
.top-slide #nav_slide {
    display: none;
}
#nav_slide p {
    font-size: 1.3rem;
    margin-block-end: 0em;
    margin-block-start: 0em;
    padding: 5px 5px 5px 30px;
}
#nav_slide .past {
    color: burlywood;
}
#nav_slide .here {
    color: yellow;
    font-weight: bold;
    text-shadow: 0 0 5px tomato, 0 0 10px tomato;
}
#nav_slide .here i {
    text-shadow: none;
}
#nav_slide .future {
    color: azure;
}

#nav_slide .sub-slide {
    display: none;
}
#nav_slide .show-sub {
    display: inline;
}

/* ======================================== */
/* footer */
/* ======================================== */

#info_footer {
    background-color: #606060;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    z-index: 1;
}
#presentation_speaker {
    width: 65%;
}
#poweredby {
    left: 65%;
    width: 35%;
}
#presentation_speaker address {
    font-size: 1.3rem;
    padding: 10px 10px 15px 20px;
    margin: 0;
    font-style: normal;
}
#presentation_speaker address::selection {
    color: currentColor;
    background: deepskyblue;
}
#poweredby p {
    font-size: 1rem;
    padding: 10px 10px 15px 20px;
    margin: 0;
    font-style: normal;
}
#presentation_speaker a, #poweredby a{
    color: currentColor;
    text-decoration: underline;
    z-index: 1;
}
