body.reveal-viewport {
    background: whitesmoke;
}

*:not(i):not(mjx-container.MathJax *) {
    font-family: "Verdana", "Roboto", "YuGothic", "Yu Gothic", sans-serif;
}

*::selection {
    background: transparent;
    color: currentColor;
}
*:not(img):not(mjx-container.MathJax)::selection {
    background: deepskyblue;
    color: currentColor;
}

div {
    margin: 0 auto;
}

.reveal a {
    border-bottom: 1px solid currentColor;
    color: currentColor;
    text-decoration: none;
}
.reveal a:hover {
    color: currentColor;
}
.slides a:hover {
    color: magenta;
}

.slides {
    font-size: 2rem;
    margin-top: 1% !important;
}
.slides h2 {
    font-weight: bold;
}
.small,
figcaption {
    font-size: 1.5rem;
}
mjx-container.MathJax {
    font-size: 100% !important;
}
mjx-under {
    padding-left: 0 !important;
}

ul,
ol {
    padding-left: 40px;
    position: relative;
}
ul > li::marker {
    color: transparent;
}
ul > li::before {
    content: "\f14a";
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    left: 0;
    position: absolute;
}
.slides li > ul,
.slides li > ol {
    margin-left: 5px;
}
li ul > li::before {
    content: "\f04b";
}
li ~ li,
li li {
    margin-top: 5px;
}

table tr {
    border-bottom: solid 2px black;
    border-top: solid 2px black;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    border-top: 5px dashed lightsteelblue;
    margin: 40px -100px 20px -20px;
}

.slides mjx-container.MathJax[display="true"] {
    margin: 2% auto;
}
.math-box {
    background: thistle;
    margin: 2% auto;
    padding: 1%;
    position: relative;
}

figure {
    position: relative;
}
.slides figure,
.slides img {
    margin: 1%;
}
img.focus-fig {
    border: lightgray solid 10px;
}
figcaption {
    text-align: center;
}

strong.alert {
    color: orangered;
}
strong.important {
    background: linear-gradient(transparent 50%, chartreuse 40%);
    font-weight: bold;
}
.note {
    color: blue;
}
.memo {
    background-color: lightyellow;
    border-top: solid gold 5mm;
    box-shadow: 1mm 1mm 1mm gray;
}

/* detail */

.detail {
    display: inline-block;
    font-size: inherit;
    margin: 0;
    position: relative;
}
.detail i.detail-icon {
    color: indigo;
    padding: 0 5px;
}
.detail .detail-box {
    background-color: lavender;
    border: indigo 3px solid;
    border-radius: 10px;
    display: none;
    left: 0;
    position: absolute;
    width: auto;
    z-index: 100;
}
.detail .bottom {
    top: 110%;
}
.detail .top {
    bottom: 100%;
}
.detail i.detail-icon:hover ~ .detail-box {
    display: block;
}
.detail .detail-box p {
    color: indigo;
    font-size: 1.5rem;
    margin: 0;
    padding: 5px 10px;
    text-align: left;
    white-space: nowrap;
}
.slides .math-box .detail {
    left: 0;
    position: absolute;
    top: 0;
}

/* qanda */

.question::before {
    color: blue;
    content: "\51.";
}
.answer::before {
    color: red;
    content: "\41.";
}

/* black, white */

.white,
.black {
    padding: 1% 2%;
}
.white {
    background: white;
    color: black;
}
.black {
    background: black;
    color: white;
}
.black h2,
section.has-dark-background h2 {
    color: yellow;
}
.black table tr,
section.has-dark-background table tr {
    border-bottom: solid 2px white;
    border-top: solid 2px white;
}
.black .math-box,
section.has-dark-background .math-box {
    background: transparent;
    border: 1px solid white;
}
.black strong.important,
section.has-dark-background strong.important {
    background: transparent;
    color: chartreuse;
}
.black .note,
.black .question::before,
section.has-dark-background .note,
section.has-dark-background .question::before {
    color: dodgerblue;
}

/* ======================================== */
/* slide-number */
/* ======================================== */

.reveal .slide-number {
    bottom: 1%;
    font-size: 20px;
    right: 1%;
}
.reveal .slide-number a {
    border-bottom: none;
}
.reveal .slide-number-delimiter {
    margin: 0 -3px;
}

body.top-slide .reveal .slide-number {
    display: none !important;
}

/* ======================================== */
/* controls & progress */
/* ======================================== */

.reveal aside.controls button {
    color: orangered;
    /* color: transparent; */
}
.reveal aside.controls[data-controls-layout="edges"] button.navigate-up {
    top: 11%;
}
.reveal aside.controls[data-controls-layout="edges"] button.navigate-down {
    bottom: 5%;
}

.reveal .progress {
    color: darkorange;
}

/* ======================================== */
/* header */
/* ======================================== */

header#info_header * {
    color: white;
}

#info_header {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#presentation_title {
    background-color: #404040;
    width: 50%;
}
#presentation_date {
    background-color: #707070;
    left: 50%;
    width: 50%;
}
#presentation_title h1,
#presentation_date p {
    font-size: 1.5rem;
    margin: 0;
    padding: 12px 20px 10px 20px;
}

/* ======================================== */
/* nav */
/* ======================================== */

nav#nav_slide {
    background: linear-gradient(to right, navy 60%, lavender);
    display: block;
    width: 100%;
}
body.top-slide nav#nav_slide {
    display: none;
}
nav#nav_slide p {
    font-size: 1.5rem;
    margin-block-end: 0em;
    margin-block-start: 0em;
    padding: 5px 5px 5px 30px;
}
nav#nav_slide span.past {
    color: burlywood;
}
nav#nav_slide span.present {
    color: yellow;
    font-weight: bold;
    text-shadow: 0 0 5px tomato, 0 0 10px tomato;
}
nav#nav_slide span.present i {
    text-shadow: none;
}
nav#nav_slide span.future {
    color: azure;
}
nav#nav_slide span.sub-slide {
    display: none;
}
nav#nav_slide span.show-sub {
    display: inline;
}

/* ======================================== */
/* footer */
/* ======================================== */

footer#info_footer * {
    color: white;
}

#info_footer {
    background-color: #606060;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    z-index: 1;
}
#presentation_speaker {
    width: 60%;
}
#poweredby {
    left: 60%;
    width: 40%;
}
#presentation_speaker address {
    font-size: 1.5rem;
    padding: 10px 10px 15px 20px;
    margin: 0;
    font-style: normal;
}
#presentation_speaker address span#mail_address::selection {
    color: currentColor;
    background: deepskyblue;
}
#poweredby p {
    font-size: 0.9rem;
    padding: 12px 10px 15px 20px;
    margin: 0;
    font-style: normal;
}
#poweredby a[href="https://revealjs.com"],
#poweredby a[href="https://www.mathjax.org"]
{
    border-bottom: none;
}

/* ======================================== */
/* mobile device */
/* ======================================== */

@media screen and (max-width: 550px) {
    #presentation_title h1,
    #presentation_date p,
    nav#nav_slide p,
    #presentation_speaker address {
        font-size: 1rem;
    }
}
