*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    font-family: "Verdana", "Roboto", "YuGothic", "Yu Gothic", sans-serif;
    font-weight: 400;
}

#poster {
    background-color: white;
    background-image:
      radial-gradient(lavender 20%, transparent 20%),
      radial-gradient(lavender 20%, transparent 20%);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    height: 841mm;
    width: 1189mm;
}

#wrapper {
    column-gap: 1%;
    display: grid;
    grid-auto-flow: column;
    height: 740mm;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 0.7%;
    row-gap: 1%;
}

section {
    height: 100%;
    position: relative;
    width: 100%;
}

h2 {
    border-radius: 10mm;
    font-size: 30pt;
    left: -1.5%;
    margin: 0;
    padding: 0.7% 2%;
    position: absolute;
    top: -2.5%;
}

.introduction {
    border: 2mm solid pink;
    background-color: pink;
}
.methods {
    border: 2mm solid lightskyblue;
    background-color: lightskyblue;
}
.results {
    border: 2mm solid lightgreen;
    background-color: lightgreen;
}
.discussion {
    border: 2mm solid darkorange;
    background-color: darkorange;
}
.conclusion {
    border: 2mm solid gray;
    background-color: gray;
}

iframe {
    border: 0;
    height: 100%;
    pointer-events:none;
    width: 100%;
}

@media print {
    @page {
        size: 1189mm 841mm;
        margin: 0;
    }

    body {
        -webkit-print-color-adjust: exact;
        margin: 0;
        padding: 0;
    }
}

/* ======================================== */
/* header */
/* ======================================== */

header {
    background: linear-gradient(65deg, palegreen, cadetblue 5%, navy 20%, indigo 60%, mediumvioletred 95%);
    color: whitesmoke;
    padding: 1%;
    position: relative;
}

header #title {
    margin: 0 8%;
}

h1 {
    font-size: 40pt;
    margin: 0;
}

header p {
    font-size: 28pt;
    margin: 0;
}

header img {
    bottom: 0;
    margin: 1%;
    position: absolute;
}
header img#left_img {
    height: 60%;
    left: 2%;

}
header img#right_img {
    height: 70%;
    right: 2%;
}

header p#date {
    position: absolute;
    right: 9%;
    top: 10%;
}
