body.reveal-viewport {
    background: whitesmoke;
}

.reveal *:not(i):not(mjx-container.MathJax *) {
    font-family: "Verdana", "Roboto", "YuGothic", "Yu Gothic", sans-serif;
}

header#info_header *,
footer#info_footer *,
section.summary * {
    color: white;
}

.reveal *::selection {
    background: transparent;
    color: currentColor;
}
.slides *:not(img):not(mjx-container.MathJax)::selection {
    background: deepskyblue;
    color: currentColor;
}

.reveal a {
    border-bottom: 1px solid currentColor;
    color: currentColor;
    text-decoration: none;
}
.reveal a:hover {
    color: currentColor;
}
.slides a:hover {
    color: magenta;
}

.slides *:not(mjx-container.MathJax *) {
    font-size: 1.3rem;
}
mjx-container.MathJax {
    font-size: inherit !important;
}
.reveal .slides section.summary *.huge {
    color: yellow;
    font-size: 7rem;
    font-weight: bold;
}
.reveal .slides *.large {
    font-size: 3rem;
    font-weight: bold;
}
.reveal .slides h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 30px 10px 15px 10px;
}
.reveal .slides .semi-large {
    font-size: 2rem;
    font-weight: bold;
}
.reveal .slides .small,
.reveal .slides figcaption {
    font-size: 1rem;
}
.reveal .slides i,
.reveal .slides a,
.reveal .slides b,
.reveal .slides span {
    font-size: inherit;
}
.reveal .slides rt {
    font-size: 50%;
}

.reveal .slides ul {
    list-style: none;
    padding-left: 30px;
    position: relative;
}
li::before {
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: "\f14a";
    left: 0;
    position: absolute;
}
.slides li ul {
    margin-left: 25px;
}
li li::before {
    content: "\f04b";
}
li.asterisk::before {
    content: "\2a";
}
li ~ li,
li li {
    margin-top: 10px;
}
table tr {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.half-box {
    display: flex;
    justify-content: center;
}
hr {
    border-top: 5px dashed lightsteelblue;
    margin: 40px -100px 20px -20px;
}

.slides figure,
.slides img {
    margin: 1%;
}
figcaption {
    font-size: 1.3rem;
    text-align: center;
}
img.focus-fig {
    border: lightgray solid 10px;
}

strong.alert {
    color: orangered;
}
strong.important {
    background: linear-gradient(transparent 50%, chartreuse 40%);
    font-weight: bold;
}
section.summary strong.important {
    background: transparent;
    color: chartreuse;
}
.slides strong.fragment.highlight-alert {
    font-weight: normal;
    opacity: 1;
    visibility: inherit;
}
strong.fragment.highlight-alert.visible {
    font-weight: bold;
    color: orangered;
}
.note {
    color: blue;
}
section.summary .note {
    color: dodgerblue;
}

/* mathbox */

.math-box {
    background: thistle;
    padding: 10px;
    position: relative;
    margin: 5px auto;
}
.math-box_small {
    background: thistle;
    margin: 5px auto;
    padding: 1px;
    position: relative;
}
section.summary .math-box {
    background: transparent;
    border: 1px solid white;
    margin: 5px auto;
    padding: 10px;
}

/* detail */

.detail-wrapper {
    display: inline;
    margin: 0;
}
.reveal .slides .detail {
    display: inline-block;
    font-size: inherit;
    margin: 0;
    position: relative;
}
.detail i.detail-icon {
    color: indigo;
    padding: 0 5px;
}
.detail .detail-box {
    background-color: lavender;
    border: indigo 3px solid;
    border-radius: 10px;
    display: none;
    left: 0;
    position: absolute;
    width: auto;
    z-index: 1;
}
.detail .bottom {
    top: 110%;
}
.detail .top {
    bottom: 100%;
}
.detail i.detail-icon:hover ~ .detail-box {
    display: block;
}
.detail .detail-box p {
    color: indigo;
    font-size: 0.9rem;
    margin: 0;
    padding: 5px 10px;
    text-align: left;
    white-space: nowrap;
}
.slides .math-box .detail,
.slides .math-box_small .detail {
    position: absolute;
    top: 0;
    left: 0;
}

/* qanda */

li.question::before {
    content: "\51.";
    color: blue;
}
section.summary li.question::before {
    color: dodgerblue;
}
li.answer::before {
    content: "\41.";
    color: red;
}

/* ======================================== */
/* slide-number */
/* ======================================== */

.reveal .slide-number {
    font-size: 18px;
    right: 1%;
}
.reveal .slide-number a {
    border-bottom: none;
}
.reveal .slide-number-delimiter {
    margin: 0 -3px;
}

body.top-slide .reveal .slide-number {
    display: none !important;
}

/* ======================================== */
/* controls & progress */
/* ======================================== */

.reveal.slide aside.controls {
    bottom: 79%;
    color: orangered;
    right: 1%;
}

.reveal .progress {
    color: darkorange;
}

/* ======================================== */
/* header */
/* ======================================== */

#info_header {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#presentation_title {
    background-color: #404040;
    width: 50%;
}
#presentation_date {
    background-color: #707070;
    left: 50%;
    width: 50%;
}
#presentation_title h1,
#presentation_date p {
    font-size: 1.3rem;
    margin: 0;
    padding: 12px 20px 8px 20px;
}

/* ======================================== */
/* nav */
/* ======================================== */

nav#nav_slide {
    background: linear-gradient(to right, navy 60%, lavender);
    display: block;
    width: 100%;
}
body.top-slide nav#nav_slide {
    display: none;
}
nav#nav_slide p {
    font-size: 1.3rem;
    margin-block-end: 0em;
    margin-block-start: 0em;
    padding: 5px 5px 5px 30px;
}
nav#nav_slide span.past {
    color: burlywood;
}
nav#nav_slide span.here {
    color: yellow;
    font-weight: bold;
    text-shadow: 0 0 5px tomato, 0 0 10px tomato;
}
nav#nav_slide span.here i {
    text-shadow: none;
}
nav#nav_slide span.future {
    color: azure;
}
nav#nav_slide span.sub-slide {
    display: none;
}
nav#nav_slide span.show-sub {
    display: inline;
}

/* ======================================== */
/* footer */
/* ======================================== */

#info_footer {
    background-color: #606060;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    z-index: 1;
}
#presentation_speaker {
    width: 60%;
}
#poweredby {
    left: 60%;
    width: 40%;
}
#presentation_speaker address {
    font-size: 1.3rem;
    padding: 10px 10px 15px 20px;
    margin: 0;
    font-style: normal;
}
#presentation_speaker address span#mail_address::selection {
    color: currentColor;
    background: deepskyblue;
}
#poweredby p {
    font-size: 0.9rem;
    padding: 10px 10px 15px 20px;
    margin: 0;
    font-style: normal;
}
#poweredby a[href="https://www.mathjax.org"]
{
    border-bottom: none;
}
